
.App {
  text-align: center;
  position: relative;
}

#ZinkyLogo {
  size: 2200pt;
  border-radius: 50%;
}

.navBar {
  font-size: 24px;
}

.facebookDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#facebookImg{

  width: 50px;
  height: 50px;
}
#facebookGreet{
  margin-bottom: 0;
  text-decoration: underline;
}

html, body {
  height: 100%;
}


@media only screen and (max-width: 1250px) {
  #facebookGreet {
    display: none;
  }
}

