#doggyTitle{
    margin-top: 15px;
    font-family: 'Sanchez', serif;
}

#groupOne {
    float: left;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
}

#groupTwo{
    float: right;
    display: flex;
}

#pictureOne {
  height: 350px;
  width: 500px;
  float: right;
  margin-top: -60px;
  margin-right: 20px;
  border-radius: 50%;
}

#pictureTwo {
  height: 350px;
  width: 400px;
  float: left;
  margin-right: 200px;
  margin-top: 0px;
  border-radius: 40%;
  box-shadow: -5px 10px 69px -12px rgba(0,0,0,0.75);
  border: 2px double rgba(61, 38, 27, 0.808);
}

#pictureThree {
    height: 400px;
    width: 450px;
    border-radius: 50%;
    margin-left: 200px;
    border-radius: 40%;
    box-shadow: -5px 10px 69px -12px rgba(0,0,0,0.75);
    border: 2px double rgba(61, 38, 27, 0.808);
}

#pictureFour {
  height: 300px;
  width: 350px;
  border-radius: 50%;
  margin-left: 250px;
  margin-bottom: 100px;
  float: left;
}

#topPar {
    margin-left: 200px;
    padding-right: 20px;
    font-family: 'Sanchez', serif;
    text-align: center;
    padding-top: 30px;
    margin-right: 15px;
    line-height: 35pt;
    
}

#bottomPar {
    font-family: 'Sanchez', serif;
    line-height: 35pt;
    margin-right:200px;
    padding-top: 75px;
    padding-left: 35px;
}

#prices {
    font-family: 'Sanchez', serif;
    text-align: center;
    float:right;
    margin-right: 250px;
    padding-bottom: 50px;
    margin-top: 50px;
}



@media only screen and (max-width: 1250px) {
    #pictureOne {
        display: none;
    }
    #pictureTwo {
        display: none;
    }
    #pictureThree {
        display: none;
    }
    #pictureFour {
        display: none;
    }
    #prices {
        margin-right: 0;
        padding-bottom: 20px;
    }
    #topPar {
        margin-left: 0;
        padding-right: 0;
        font-family: 'Sanchez', serif;
        text-align: center;
    }
    
    #bottomPar {
        margin-right: 0;
        padding-left: 0;
        font-family: 'Sanchez', serif;
        text-align: center;
    }
  }


