.footer {
  
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: #999DA0;
  /* text-align: center; */
  display: flex;
  justify-content: space-evenly;
}

.addressName {
  color: #999DA0;
}

#hours {
 
  color: yellow;
  list-style-type: none;
  list-style: none;
  padding-bottom: 20px;
  margin-top: -15px;
  text-align: left;
  display: flex;
  
  
}

#list1 {
  margin-right: 60px;
  margin-bottom: -1px;
  font-size: 20px; 
}

li {
  font-size: 20px;
}

@media only screen and (max-width: 1250px) {
 #number{
   font-size: 100%;
 }
 .addressName{
   font-size: 100%;
 }
}

