#Head{
    text-decoration: underline;
    font-family: 'Sanchez', serif;
    
}

#groomingTitle {
    text-decoration: underline;
    font-family: 'Sanchez', serif;
    margin: 20px;
}


#groomingDescription {
    font-size: 16pt;
    margin: 40px;
}

p {
    font-family: 'Sanchez', serif;
  }

#groomRates {
    font-family: 'Sanchez', serif;
    margin-bottom: 50px;
}

#col1 {
    background-color: rgba(61, 38, 27, 0.808);
    border: 4px solid burlywood;
    color: #ffcc32;
    margin: 15px;
    padding: 20px;
    font-family: 'Sanchez', serif;
}

#col2 {
    background-color: rgba(61, 38, 27, 0.808);
    border: 4px solid burlywood;
    color: #ffcc32;
    margin: 15px;
    padding: 20px;
    font-family: 'Sanchez', serif;
}

#col3 {
    background-color: rgba(61, 38, 27, 0.808);
    border: 4px solid burlywood;
    color: #ffcc32;
    margin: 15px;
    padding: 20px;
    font-family: 'Sanchez', serif;
}


#pic {
    height: 300px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 2px 3px 29px -4px rgba(0,0,0,0.75);
    margin-bottom: 100px;
    border: 2px solid black;

}

#pic2 {
    border: 1px solid black;
    height: 300px;
    width: 400px;
    box-shadow: 2px 3px 29px -4px rgba(0,0,0,0.75);
    border: 2px solid black;
}

.picDiv{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 435x;
}

@media only screen and (max-width: 1024px) {
    #pic2 {
        visibility: hidden;
        margin: 0;
    }
    #pic {
        visibility: hidden;
        margin: 0;
    }
  }



  