#landing {
/* padding-top: 50px; */
margin-top: 60px;
height: 650px;
width: 625px;
border-radius: 50%;
box-shadow: -5px 10px 69px -12px rgba(0,0,0,0.75);
border: 2px solid rgba(61, 38, 27, 0.808);

}


#pic {
    float: initial;
}

.topPar {
    text-align: center;
    margin-left: 220px;
    width: 75%;

}

.bottomPar {
    padding-bottom: 50px;
    text-align: center;
    width: 75%;
    margin-left: 220px;
}



@media only screen and (max-width: 1250px) {
    #landing {
        height: 450px;
        width: 425px;
        margin-top: 20px;
    }
    body,html {
        background: #ffcc32;
        margin: 0;
    }
    .bottomPar {
        width: 100%;
        margin-left: 0;
    }
    
    .topPar {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    #imgHolder{
        visibility: hidden;
    }
  }

  @media (max-width:480px) {
    #landing {
        height: 300px;
        width: 275px;
        margin-top: 100px;
    }
}



