.text{
    margin-top: 25px;
}

.title{
    text-decoration: underline;
    font-size: 36pt;
}

#priceHeader {
    text-decoration: underline;
}

#box{
    border: 2px black solid;
}

p{
    font-size: 18pt;
}