#img {
    float: center;
    border: 4px black solid;
    height: 350px; 
    width: 290px;
    
   
}

#img2 {
    margin-bottom: 90pt;
    margin-left: -400pt;
    margin-right: 50pt;
    margin-top: -15pt;
    height: 280px;
    width: 260px; 
    float: right;
    
    
}

.tempTest {
    text-align: inherit;
    margin-left: 2pt;
    margin-bottom: 15px;
}

.par {
    padding-right: 200pt;
    margin-left: 200pt;
    margin-bottom: 20px;
}


.titleReq {
    text-decoration: underline;
    text-align: center;
}

.vaccTitle {
    text-align: center;
    margin-right: 29px;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
   
}

.reqList {
    text-align: center;
    list-style-type: none;
    margin-right: 25pt;
   
}

body, html {
    background: url("./Images/pawPrintsBackground.png")repeat-x 0 0;
    padding: 0;
    z-index: -1; 
    background-color: #ffcc32;
}

