#img {
    float: center;
    border: 4px black solid;
    height: 350px; 
    width: 290px;
   margin-bottom: 50px;
}

#img2 {
    margin-bottom: 90pt;
    margin-left: -400pt;
    margin-right: 50pt;
    margin-top: -15pt;
    height: 280px;
    width: 260px; 
    float: right;
    
    
}

.tempTest {
    text-align: inherit;
    margin-left: 2pt;
    margin-bottom: 15px;
    font-family: 'Sanchez', serif;
}

.par {
    padding-right: 200pt;
    margin-left: 200pt;
    margin-bottom: 20px;
    font-family: 'Sanchez', serif;
}


.titleReq {
    text-decoration: underline;
    text-align: center;
    margin: 20px;
    font-family: 'Sanchez', serif;
}

.vaccTitle {
    text-align: center;
    margin-right: 29px;
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Sanchez', serif;
   
}

.reqList {
    text-align: center;
    list-style-type: none;
    margin-right: 25pt;
    font-size: 20px;
    font-family: 'Sanchez', serif;
   
}

/* body, html { 
    background: url("./Images/pawPrintsBackground.png")repeat-x 0 0;
    /* background:url('./Images/Zinkys20.jpg'); */
    /*padding: 0;
    z-index: -1; 
    background-color: #ffcc32; 
} */



@media only screen and (max-width: 1500px) {
    body,html {
        background: #ffcc32;
        margin: 0;
    }
    .tempTest {
        text-align: inherit;
        margin-left: 0;
    }
    
    .par {
        padding-right: 0;
        margin-left: 0
    }
    
  }

